@view-transition {
    navigation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 2.5s;
}

body {
    font-family: sans-serif;
}

.move-aside {
    transform: translateX(5rem);
}